.slider, .slick-prev, .slick-next{
    z-index: 10;
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 30px;
    height: 35px;
    margin:  -30px 0 0 0;
   
  }
  .slider, slick-arrow, .slick-prev{
    left: 0;
    background: url('стрелка1.png')  0 0 /100% no-repeat;
  }
  .slider{
      position: relative;
      
  }
  
  .slider, slick-arrow,.slick-next{
    right: 0;
    background: url('стрелка2.png') 0 0 /100% no-repeat;
  }
 .slick-dots{
   
    display: flex;
    align-items: center;
     justify-content: center;
 
  }
  .slick-dots li{
list-style: none;


  }
  button{
    /* border: 0; */
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  .slick-dots button{
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    border: 0;
    font-size: 0;
    
  
  }
  .slick-active button{
    background-color: #000;
   
   
  }
  .gallery{
    /* max-width: 800px; */
    margin: 0 auto;
   
}
.slick-slide{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.item img{
    border: 0;
    outline: none;
  }
  
